.container {
  padding-top: 4.3rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.post_btn {
  padding: 0.5rem;
  color: white;
  background-color: black;
  align-self: flex-end;
  text-decoration: none;
}

.posts_list {
  list-style: none;
  padding: 2rem;
}

.posts_list  {
  color: black;
  text-decoration-line: none;
}

.post {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 1px solid #e2e2e2;
}

.post p {
  color: #373737;
}
