.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow-y: scroll;
}

.main {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.post_btn {
  padding: 0.5rem;
  color: white;
  background-color: black;
  align-self: flex-end;
  text-decoration: none;
}

.posts_box {
  min-height: 50rem;
}

.posts_list {
  list-style: none;
  padding: 2rem;
}

.posts_list {
  color: black;
  text-decoration-line: none;
}

.post {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 1px solid #e2e2e2;
}

.post p {
  color: #373737;
}

.empty_list {
  text-align: center;
}

@media all and (min-width: 1024px) {
  .main {
    max-width: 60rem;
  }

}
