.plusButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 65px;
  right: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  color: white;
  padding: 1.1rem;
  background-color: black;
}

.plusButton p {
  margin-left: 0.3rem;
}
