.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
  padding-bottom: 5rem;
  padding-top:10rem;
  overflow-y: scroll;
}

.post_box {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  width: 100%;
  height: 26rem;
  padding: 1rem;
}

.post_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.post_content {
  padding: 0.5rem 0;
  border-top: 1px solid rgb(187, 187, 187);
  border-bottom: 1px solid rgb(187, 187, 187);
  height: 20rem;
}

.reply_container {
  width: 100%;
}

.reply_form {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.reply_form label {
  font-weight: 700;
}

.reply_form textarea {
  margin-top: 0.5rem;
  border: 1px solid black;
  outline: none;
  width: 100%;
  height: 5rem;
  padding: 0.5rem;
  resize: none;
}

.reply_form button {
  border: none;
  background-color: black;
  color: white;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  align-self: self-end;
}

.reply_content {
  width: 100%;
  padding: 0 1.5rem;
}

.reply_content :first-child {
  font-weight: 700;
  margin-bottom: 0.5rem;
}
