@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.swiper-slide {
  margin:0;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  html {
    font-size: 14px; /* 모바일에서 폰트 크기를 줄임 */
  }
}
