.main {
  width: 100%;
  height: 100%;
  margin-top: 65px;
  margin-bottom: 54.59px;
}

.ad {
  margin-top: 0.5rem;
  width: 100%;
  aspect-ratio: 2.9 / 1;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.today {
  box-shadow: 0 -3px 3px -3px rgb(180, 180, 180);
  width: 100%;
  margin-top: 0.5rem;
  padding-top: 1.3rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}

.today p {
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: 0.1rem;
}

.goods_grid {
  margin-top: 1rem;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.goods_grid p {
  margin-top: 0.2rem;
  font-weight: 400;
  font-size: 1rem;
}

.goods_image {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  overflow: hidden;
}

.footer {
  margin-top: 20px;
  font-size: 12px;
  background-color: #f8f9fd;
  color: #757575;
}

.footer div {
  padding: 16px;
  border-top: 1px solid rgb(241, 244, 246);
}

.footer .title {
  font-weight: 700;
  margin-bottom: 10px;
}

.info p {
  margin-bottom: 10px;
  font-weight: 600;
}

@media all and (min-width: 1024px) {
  .main {
    margin-top: 125px;
  }

  .goods_grid {
    
    gap: 40px;
    grid-template-columns: repeat(4, 1fr);
  }

  .footer {
    padding: 1.5rem;
    font-size: 1.1rem;
  }
  .footer .title {
    font-size: 1.2rem;
  }
  .pc_pad {
    padding: 0 14rem;
  }
  .info p {
    font-size: 1rem;
  }
}
