.header {
    width : 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.header p {
    display: flex;
    align-items: center;
}

.header span {
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 0.3rem;
}