.swiperNextButton {
  all: unset;
  position: absolute;
  z-index: 3;
  top: 50%;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0, -50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.swiperPrevButton {
  all: unset;
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 20px;
  transform: translate(0, -50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.swiperNextButton:hover,
.swiperPrevButton:hover {
  background-color: rgb(255, 255, 255, 0.5);
}

.adBox {
  position: relative;
  display: flex;
  justify-content: center;
  width: 750px;
  height: 800px;
  margin: 0;
}

.adText {
  font-weight: 600;
  font-size: 40px;
  color:white;
  position: absolute;
  top: 600px;
  transition: all 0.4 ease-in-out;
  z-index: 5;
}
