.loading {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Add this to ensure the loader is positioned relative to this container */
}

.loadingBackground {
  z-index: 100;
  width: 100dvw;
  height: 100dvh; /* Change from 100dvw to 100dvh for full viewport height */
  background-color: rgba(0, 0, 0, 0.2); /* Fix the rgba format */
  position: absolute; /* Add this to ensure the background covers the whole screen */
  top: 0;
  left: 0;
}

.icon {
  z-index: 101;
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust the position */
}
