.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  box-shadow: 0 -3px 3px -3px rgb(180, 180, 180);
  background-color: white;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
    font-size: 1.4rem;
}

.nav p {
    margin-top: 0.2rem;
    font-size: 0.7rem;
    font-weight: 900;
}