.header {
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  padding: 1.2rem;
  background-color: white;
  box-shadow: 0 3px 3px -3px rgb(180, 180, 180);
}

.header a {
  all: unset;
  cursor: pointer;
}

.header_top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_logo {
  margin-top:1px;
  display: flex;
  align-items: center;
  color: black;
  font-size: 1.6rem;
  font-weight: 600;
}

.header_left {
  width: 30%;
}

.header_right {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* rightItem 회원가입, 로그인, 로그아웃, 장바구니 아이콘 */
.rightItem {
  display: none;
}

.search {
  /* display : flex */
  display: none;
}

/*모바일 : right-content, 검색창 display: none, 
검색은 modal창으로 따로 관리 => setModal 
nav도 li 갯수 반으로 축소 */

/* 데스크탑 사이즈 일때, 넓이가 1024px~ */
@media all and (min-width: 1024px) {
  .rightItem {
    display: flex;
    width: 3.125rem;
    height: 3.125rem;
  }
  .rightItem a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .rightItem p {
    font-size: 0.6rem;
  }

  .logoutBtn {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    border: none;
  }

  .search {
    display: flex;
    justify-content: center;
    width: 60%;
    background-color: white;
  }
  .search form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    border-bottom: 1px solid #000000;
    padding-bottom: 0.6rem;
  }
  .search input {
    box-sizing: border-box;
    all: unset;
    width: 100%;
    font-size: 1.2rem;
  }
  .search button {
    all: unset;
    width: 1.5rem;
    height: 1.5rem;
  }
}
