.page_counter {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 100px;
}

.page_counter ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 300px;
}

.active {
  font-weight: 600;
}

.arrowRight,
.arrowLeft,
.page_counter li {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.notPage {
  cursor: default;
}
