.page_counter {
  margin-top: 1rem;
  background-color: #e4e4e4;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.page_counter ul {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 1rem 0;
}

.page_counter li {
  cursor: pointer;
}

.arrowRight {
  cursor: pointer;
  margin-left: 1rem;
}

.arrowLeft {
  cursor: pointer;
  margin-right: 1rem;
}

.active {
  font-weight: 700;
  color: #526dfe;
}

@media all and (min-width: 1024px) {
  .page_counter {
    margin: auto;
    width: 70%;
    padding: 2rem;
  }
  .page_counter ul {
    padding: 2rem 0;
    font-size: 1.6rem;
  }
}
