.page_counter {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 5rem;
}

.page_counter ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 18.5rem;
}

.active {
  font-weight: 600;
}

.arrowRight,
.arrowLeft,
.page_counter li {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.notPage {
  cursor: default;
}
@media all and (min-width: 1024px) { 

}