.pc_nav {
  margin-top: 1.25rem;
}

.pc_nav ul {
  margin: 0;
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 1.25rem;
}

.pc_nav li {
  font-size: 0.9rem;
  font-weight: 600;
}

.pc_nav a {
  all: unset;
}

.onPC {
  display: none;
}

@media all and (min-width: 1024px) {
  .onPC {
    display: block;
  }
}
