.search {
  position: relative;
  display: flex;
  justify-content: center;
}

.search input {
  all: unset;
  width: 12.5rem;
  padding: 0.6rem;
  border: 1px solid #526dfe;
  border-radius: 15px;
}

.inmain form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.inmain input {
  box-sizing: border-box;
  width: 90%;
}

/* 데스크탑 */
@media all and (min-width: 1024px) {
  .search {
    display: none;
  }
}
