.goods {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.goods .description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.4rem 0;
}

.image {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1.2;
}

.goodsName {
  height: 39px;
}

.goodsPrice {
  margin-top: 5px;
  font-weight: 600;
}

@media all and (min-width: 1024px) {
  .goods {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .goods .description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding:0.5rem;
  }
  .image {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1.2;
  }

  .goodsName {
    height: 39px;
  }

  .goodsPrice {
    margin-top: 5px;
    font-weight: 600;
  }
}
