.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .join {
    cursor: pointer;
  
    color: #888888;
  }
  
  .container a {
    all: unset;
  }
  .container h1 {
    font-size: 30px;
    font-weight: 600;
  }