.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container a {
  all: unset;
}
.container h1 {
  font-size: 30px;
  font-weight: 600;
}

.join {
  cursor: pointer;

  color: #888888;
}
