.container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  padding-top: 5rem;
}

.main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-bottom: 8rem;
}

.mainContent {
  box-sizing: border-box;
  max-width: 80rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 100%;
}

.LeftHeader {
  align-self: flex-start;
  padding-top: 2rem;
  font-size: 0.8rem;
  color: #4e4e4e;
  margin-bottom: 0.625rem;
}

.containerLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerLeft .image {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
}

.containerRight {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.2rem;
}

.title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mall {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0.625rem;
}

.price {
  font-size: 1.2rem;
  float: inline-end;
}

.btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 3.1rem;
  margin-top: 40px;
}

.btn button {
  float: inline-end;
  width: 49%;
  height: 3.1rem;
  border: 1px solid rgb(51, 51, 51);
  padding: 0 20px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.pick {
  color: white;
  background-color: #2a2a2a;
}

.buy {
  color: black;
  background-color: #ffffff;
}

.buy a {
  all: unset;
}

/* 장바구니 버튼 클릭시 나타나는 모달 */
.modalBackground {
  z-index: 100;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute; 
  top: 0;
  left: 0;
}

.basketModal {
  z-index: 101;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: absolute;
  width: 24rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.3rem;
}

.basketModal h1 {
  align-self: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.modalImage {
  position: relative;
  width: 80%;
  max-width: 10rem;
  aspect-ratio: 1/1;
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.modalFlex {
  display: flex;
  flex-direction: row;
}

.modalPrice {
  font-weight: 600;
}

.modalBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.modalBtn button {
  float: inline-end;
  width: 49%;
  height: 3.1rem;
  border: 1px solid rgb(51, 51, 51);
  padding: 0 20px;
  font-size: 0.9rem;
  font-weight: 400;
  cursor: pointer;
}

.modalShoppingBtn {
  background-color: white;
}

.modalBasketBtn {
  color: white;
  background-color: #2a2a2a;
}


@media all and (min-width: 1024px) {
  .main {
    align-items: center;
    padding-top: 7rem;
  }
  .containerLeft {
    max-width: 40rem;
    width: 49%;
    justify-content: flex-end;
  }
  .containerRight {
    width: 49%;
    justify-content: flex-end;
  }
  .mainContent {
    flex-direction: row;
    justify-content: space-between;
  }
  .basketModal {
    width: 40rem;
    max-height: 20rem;
  }
  .modalContent {
    font-size: 1.2rem;
    justify-content: space-between;
  }
  .modalPrice {
    font-size: 1.8rem;
  }
  .modalFlex {
    width: 100%;
    justify-content: space-between;
  }
}
