.main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.mainContent {
  margin-top: 3.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 100%;
}

.LeftHeader {
  padding-top: 1rem;
  font-size: 0.8rem;
  color: #4e4e4e;
  margin-bottom: 0.625rem;
}

.containerLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerLeft .LeftHeader {
  align-self: flex-start;
}

.containerLeft .image {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
}

.containerRight {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.2rem;
}

.title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mall {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0.625rem;
}

.price {
  font-size: 1.2rem;
  float: inline-end;
}

.btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 3.1rem;
  margin-top: 40px;
}

.btn button {
  float: inline-end;
  width: 49%;
  height: 3.1rem;
  border: 1px solid rgb(51, 51, 51);
  padding: 0 20px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.pick {
  color: white;
  background-color: #2a2a2a;
}

.buy {
  color: black;
  background-color: #ffffff;
}

.buy a {
  all: unset;
}
/* 장바구니 버튼 클릭시 나타나는 모달 */
.modalBackground {
  z-index: 100;
  width: 100dvw;
  height: 100dvh; /* Change from 100dvw to 100dvh for full viewport height */
  background-color: rgba(0, 0, 0, 0.2); /* Fix the rgba format */
  position: absolute; /* Add this to ensure the background covers the whole screen */
  top: 0;
  left: 0;
}

.basketModal {
  z-index: 101;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.3rem;
}

.basketModal h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.modalImage {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 0.9rem;
  margin-left: 0.2rem;
}

.modalFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modalPrice {
  font-weight: 600;
  margin-bottom: 2rem;
}

.modalBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  height: 3.1rem;
}

.modalBtn button {
  float: inline-end;
  width: 48%;
  height: 3.1rem;
  border: 1px solid rgb(51, 51, 51);
  padding: 0 20px;
  font-size: 0.9rem;
  font-weight: 400;
  cursor: pointer;
}

.modalShoppingBtn {
  background-color: white;
}

.modalBasketBtn {
  color: white;
  background-color: #2a2a2a;
}
